material-dashboard.css linguist-vendored
material-dashboard.css.map linguist-vendored
nucleo-icons.css linguist-vendored
nucleo-svg.css linguist-vendored
Assignments.html linguist-vendored
Assignment.html linguist-vendored
Attendance.html linguist-vendored
Marksheet.html linguist-vendored
Notifications.html linguist-vendored
Profile.html linguist-vendored
students.html linguist-vendored
StudentProfile.html linguist-vendored