<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/bitgurkhas.jpg"
      type="image/x-icon"
    />
    <title>Student Management</title>
  </head>
  <body>
    <div id="navbar"></div>
    <center>
      <h1>Logo</h1>
      <img
        src="../assets/bitgurkhas.jpg"
        style="height: 10%; width: 10%; border-radius: 50%"
        alt="Logo"
      />
      <p>Bravery Meets Technology</p>
    </center>
    <script src="../public/script.js"></script>
  </body>
</html>
