
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
  }
  
  .form-group label {
    width: 30%;
    text-align: right;
    padding-right: 10px;
  }
  
  .form-group input,
  .form-group select {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .gender-group {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 10px 0;
  }
  
  .gender-group input {
    margin: 0 10px;
  }
  
  form input[type="submit"],
  form input[type="reset"] {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form input[type="submit"]:hover,
  form input[type="reset"]:hover {
    background-color: #4cae4c;
  }
  
  
  form input[type="submit"] {
    background-color: #0275d8;
  }
  
  form input[type="submit"]:hover {
    background-color: #025aa5;
  }
  
  form input[type="reset"] {
    background-color: #d9534f;
  }
  
  form input[type="reset"]:hover {
    background-color: #c9302c;
  }